    <script type="text/javascript">
        $(document).ready(function () {
            // prepare chart data
            var source =
            {
                 datatype: 'json',
                 datafields: [
                     { name: 'date', type: 'date'},
                     { name: 'used'},
                     { name: 'size'}
                ],
                root: 'stats',
                url: '/getstat/{{ node_id }}/{{ fs_id }}/2014/01/12/'
            };
            //console.log(source)
            var data = new $.jqx.dataAdapter(source,
            {
                cache: false,
                autoBind: true,
                async: false,
                downloadComplete: function (json){
                    $('#recommended').html('<span style="color:red">Max:' + json.total[0].max + 'GB.</span> ' +
                            '<span style="color:blue">Min:' + json.total[0].min + 'GB.</span> ' +
                            '<span style="color:green">Provisioning: ' + json.total[0].recommended + 'GB/Year<strong>'
                    );
                },
                loadComplete: function () { },
                loadError: function () { $('#recommended').html('Error load'); }
            });
            //console.log(data);
            var toolTipChart = function (value, itemIndex, serie, group, categoryValue, categoryAxis) {
                var r ='<div style="text-align:left";>' +
                       '<b>Month: ' + categoryValue + '</b><br />' +
                       '<b>'+ serie.displayText +': ' + Math.ceil(value) + 'GB</b><br />' +
                       '</div>';
                //console.log(r);
                return r;
            };
            // prepare jqxChart settings
            var settings = {
                title: "GrowPY Filesystem Stats",
                description:  data['recordids'][0]['name'],
                padding: { left: 5, top: 5, right: 40, bottom: 20 },
                titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                source: data['recordids'],
                categoryAxis:
                {
                    dataField: 'date',
                    gridLinesInterval: 1,
                    showGridLines: true,
                    showLegend: true
                },
                colorScheme: 'scheme01',
                showToolTips: true,
                seriesGroups:
                [
                    {
                        type: 'area',
                        toolTipFormatFunction: toolTipChart,
                        valueAxis:
                        {
                            minValue: 0,
                            maxValue: Math.ceil((data['recordids'][0]['size'] * 1.01) + (10 - data['recordids'][0]['size'] / 10)),
                            unitInterval: Math.ceil(Math.floor(data['recordids'][0]['size'] * 1.01 + 10 - data['recordids'][0]['size'] / 10) / 10),
                            description: 'Giga Bytes'
                        },
                        /*
                        mouseover: myEventHandler,
                        mouseout: myEventHandler,
                        click: myEventHandler,
                        */
                        series: [
                            { dataField: 'used', displayText: 'Used'},
                            { dataField: 'free', displayText: 'Free'},
                            { dataField: 'size', displayText: 'Size'}
                        ]
                    }
                ]
            };
            $('#chartContainer').jqxChart(settings);

        });
    </script>
    <table>
        <tr>
            <td>
                <div id='chartContainer' style="width:740px; height: 360px"/>
            </td>
        <tr>
            <td>
                <div id="recommended"></div>
            </td>
        </tr>
    </table>