    <script type="text/javascript">
        $(document).ready(function () {
            // prepare chart data
            var source =
            {
                 datatype: 'json',
                 datafields: [
                     { name: 'date', type: 'date'},
                     { name: 'used'},
                     { name: 'size'}
                ],
                root: 'stats',
                url: '/getstat/{{ node_id }}/{{ fs_id }}/{{ year }}/{{ sm }}/{{ em }}/'
            };
            //console.log(source)
            var data = new $.jqx.dataAdapter(source,
            {
                cache: false,
                autoBind: true,
                async: false,
                downloadComplete: function (json){
                    $('#recommended').html(
                        'Max:<span style="color:red">' + json.total[0].max + 'GB.</span> ' +
                        'Min:<span style="color:blue">' + json.total[0].min + 'GB.</span> ' +
                        'Provisioning:<span style="color:green">' + json.total[0].recommended + 'GB/Year</span>'
                    );
                },
                loadComplete: function () { },
                loadError: function () { $('#recommended').html('Error load'); }
            });
            //console.log(data);
            var toolTipChart = function (value, itemIndex, serie, group, categoryValue, categoryAxis) {
                var r ='<div style="text-align:left";>' +
                       '<b>Month: ' + categoryValue + '</b><br />' +
                       '<b>'+ serie.displayText +': ' + Math.ceil(value) + 'GB</b><br />' +
                       '</div>';
                //console.log(r);
                return r;
            };
            // prepare jqxChart settings
            var settings = {
                title: "GrowPY Filesystem Stats",
                description:  data['recordids'][0]['name'],
                padding: { left: 5, top: 5, right: 40, bottom: 20 },
                titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                source: data['recordids'],
                categoryAxis:
                {
                    dataField: 'date',
                    gridLinesInterval: 1,
                    showGridLines: true,
                    showLegend: true
                },
                colorScheme: 'scheme01',
                showToolTips: true,
                seriesGroups:
                [
                    {
                        type: 'area',
                        toolTipFormatFunction: toolTipChart,
                        valueAxis:
                        {
                            minValue: 0,
                            maxValue: Math.ceil((data['recordids'][data['recordids'].length-1]['size'] * 1.01) + (10 - data['recordids'][data['recordids'].length-1]['size'] / 10)),
                            unitInterval: Math.ceil(Math.floor(data['recordids'][data['recordids'].length-1]['size'] * 1.01 + 10 - data['recordids'][data['recordids'].length-1]['size'] / 10) / 10),
                            description: 'Giga Bytes'
                        },
                        /*
                        mouseover: myEventHandler,
                        mouseout: myEventHandler,
                        click: myEventHandler,
                        */
                        series: [
                            { dataField: 'used', displayText: 'Used'},
                            { dataField: 'free', displayText: 'Free'},
                            { dataField: 'size', displayText: 'Size'}
                        ]
                    }
                ]
            };
            console.log(data);
            $('#chartContainer').jqxChart(settings);

        });
        $(".jtable-close-button").click(function (){
            $("script#script-range-selector").empty();
            $('div.chart').empty();
            $("div.chart").css('display','none');
            $("div.overlay").css('display','none');
        })
    </script>
    <div class="jtable-main-container">
        <div class="jtable-busy-panel-background jtable-busy-panel-background-invisible" style="display: none; width: 1195px; height: 94px;"></div>
        <div class="jtable-busy-message" style="display: none;"></div>
        <table class="jtable">
            <tbody>
                <tr class="jtable-child-row">
                    <td>
                        <div class="jtable-child-table-container" style="display: block;">
                            <div class="jtable-busy-panel-background jtable-busy-panel-background-invisible" style="display: none; width: 1195px; height: 94px;"></div>
                            <div class="jtable-busy-message" style="display: none;"></div>
                            <div class="jtable-main-container">
                                <div class="jtable-title">
                                    <div class="jtable-title-text">Draw Chart</div>
                                    <button class="jtable-command-button jtable-close-button" title="Close"><span>Close</span></button>
                                    <div class="jtable-toolbar"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="chart">
            <tbody>
                <tr>
                    <td><div id="chartContainer" style="width:752px; height: 360px"></div></td>
                </tr>
                <tr class="jtable-data-row jtable-row-even">
                    <td><div id="recommended" style="padding: 3px"></div></td>
                </tr>
            </tbody>
        </table>
    </div>