<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="filesystem stats application"/>
    <meta name="keywords" content="HTML5 coded compliant" />
    <title>{{ title }}</title>
    <!-- Include jquery and UI required by jTable -->
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}libs/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css"/>
    <!-- Include one of jTable styles. -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jtable.2.3.1/themes/lightcolor/green/jtable.css"/>
    <!-- Include jTable script file. -->
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jtable.2.3.1/jquery.jtable.js"></script>
    <!-- jqwidgets charts -->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}libs/jqwidgets-3.0.4/jqwidgets/styles/jqx.base.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jqwidgets-3.0.4/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jqwidgets-3.0.4/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jqwidgets-3.0.4/jqwidgets/jqxchart.js"></script>
    <!-- Include growpy base css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <!-- Include growpy base scripts js -->
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/base.js"></script>
</head>
<body>
    <!-- Header wrapper -->
    <div id="header-wrapper">
        <!-- Header -->
        <div id="header" class="container">
            <nav>
                <div class="glogo"></div>
                <div class="head-text">{{ title }}</div>
                <div class="align-right">
                    <ul>
                        <li><a href="http://engine.cl/">eNgine</a></li>
                        <li><a href="http://engine.cl/django-growpy">Documentation</a></li>
                        <li><a href="https://github.com/mnothic/django-growpy">Source Code</a></li>
                    </ul>
                </div>
            </nav>
            <div id="container">
            </div>
            <div class="overlay">
                <div class="chart ui-widget-content"></div>
            </div>
        <!-- End Header -->
        </div>
    <!-- end header wrapper -->
    </div>
    <footer class="footer">
        <div class="footer"><span>{{ title }}(c) {{ year }} - eNgine Inc.</span></div>
    </footer>
</body>
</html>