    /* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
        display:block;
    }
    body{
        line-height:1;
    }
    ol,ul{
        list-style:none;
    }
    blockquote,q{
        quotes:none;
    }
    blockquote:before,blockquote:after,q:before,q:after{
        content:'';content:none;
    }
    table{
        border-collapse:collapse;border-spacing:0;
    }
    body{
        -webkit-text-size-adjust:none
        font: 13px Helvetica, arial, freesans, clean, sans-serif;
        background-image: url('/static/imgs/growpy_bg.jpg');
        background-repeat: repeat-x;
        background-position: left bottom;
        background-attachment: fixed;
    }

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

label {
    font-weight: bold;
    font-size: 10px;
    color: #666;
}
/* form style */
.jtable-dialog-form styled-select {
    height: 28px;
    width: 208px;
    outline: none;
    overflow: hidden;
    background: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.jtable-dialog-form select {
    height: 28px;
    width: 208px;
    outline: none;
    overflow: hidden;
    background: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.jtable-dialog-form input[type=text] {
    height: 24px;
    width: 208px;
    padding: 5px;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.jtable-dialog-form input[type=submit] {
    height: 24px;
    width: 60px;
    color: #ffffff;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: #42d033;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.jtable-dialog-form input[type=text]:focus, select:focus {
    -webkit-box-shadow: 0px 0px 5px #42d033;
    -moz-box-shadow: 0px 0px 5px #42d033;
    box-shadow: 0px 0px 5px #42d033;
    background: #ffffff;
}
/* end form */
/* Container */

	body {
		min-width: 1200px;
	}

	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	/* Modifiers */

    .container.small {
        width: 900px;
    }

    .container.big {
        width: 100%;
        max-width: 1500px;
        min-width: 1200px;
    }

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/static/libs/jtable.2.3.1/themes/lightcolor/gray/loading.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.chart.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.chart.loading .modal {
    display: block;
}
/* START NAV MENU */
nav {
    height:128px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    z-index: 1;
}

nav ul {
    font-family: Arial, Verdana;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: left;
}

nav li ul {
  display: none;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    padding: 5px;
    color: #333333;
    margin-left: 1px;
    white-space: nowrap;
    height:40px; /* Width and height of top-level nav items */
    text-align:center;
    font-family: Arial, Verdana;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #42d033;
}

nav li:hover ul {
    display: inline;
    position: absolute;
    height:40px;
}

nav li:hover li {
    float: none;
    font-family: Arial, Verdana;
    font-size: 20px;
}

nav li:hover a {
    height:40px; /* Height of lower-level nav items is shorter than main level */
}

nav li:hover li a:hover {
    background: #dddddd;
}

nav ul li ul li a {
    background: #bcbcbe;
    text-align: left; /* Top-level items are centered, but nested list items are left-aligned */
}
/* END NAV */

/* form style */
.styled-select {
    height: 28px;
	outline: none;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #ccc;
    font-weight: bold;
}

select {
    height: 24px;
	outline: none;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #ccc;
    font-weight: bold;
}

input {
    height: 24px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
    background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
    font-weight: bold;
}

input:focus, select:focus {
	-webkit-box-shadow: 0px 0px 5px #42d033;
	-moz-box-shadow: 0px 0px 5px #42d033;
	box-shadow: 0px 0px 5px #42d033;
}

.overlay {
    display:none;
    position: absolute;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.chart {
    width: 752px;
    background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
    margin-top: 7%;
    padding: 0;
    display: none;
    border: 1px solid #C8C8C8;
}

.glogo {
    background: url('/static/imgs/glogo.png') no-repeat;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
    top: 10px;
    position: relative;
    display: inline-block;
    float:left
}

.head-text {
    position: relative;
    display: inline;
    font-weight: bold;
    font-size: 18px;
    color: #42d033;
    float: left;
    top: 30px;
}

.align-right {
    position: relative;
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    float: right;
}

.chart {
    width: 752px;
    background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
    margin-top: 7%;
    padding: 0px;
    display: none;
    color: #42d033;
}

footer {
    bottom: 10px;
    position: fixed;
    left: 40%;
    color: #ffffff;
    font-family: Arial, Verdana;
    font-weight: bold;
    font-size: 14px;
}

#range-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    position: relative;
    display: inline-block;
    float: right;
}